@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light global base styling */
@layer base {
  body {
    @apply bg-slate-100 text-slate-800;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  }
}
